# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dotenv
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pm2.log

# Dependency directories
node_modules/

# Production
dist/
build/

# Docker
docker-compose.override.yml
Dockerfile

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# MacOS
.DS_Store

# Media
downloads/
media/
